*
{
    background-color:plum;
    font-variant: small-caps;
    font-style: italic;
    color:crimson;
}
.Ash
{
    display:flex;
    justify-content:center;
    align-items:center ;
}
.D
{
    display:flex;
    justify-content:center;
    align-items:center ;
}
.C
{
    display:flex;
    justify-content:center;
    align-items:center ;
}
.style
{
    display:flex;
    justify-content:center;
    align-items:center ;
}
